.sticky {
    top: 5px;
    position: sticky;
}

body {
    font-size: 1.5em;
}

#AddRow, #AddPersonRow, .removeRow, .removePersonRow {
    font-size: 1.5em;
    border-radius: 50%;
    line-height: 1.5em;
    width: 70px;
    font-weight: bold;
}

#SubTotal, #GrandTotal {
    text-shadow: 1px 1px 0 #444;
    font-size: 1.5em;
}

body {
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
}